*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
body{
    width: 100vw;
    background-color: #ededed;
}
#main{
    width: 100vw;
    height: 100vh;
}

#nav{
    width: 100%;
    min-width: 1100px;
    height: 10%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav__left{
    height: 100%;
    flex: 1;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav__left>i{
    color:royalblue;
    font-size: 28px;
    padding: 5px;
}
#nav__left>h1{
    color: black;
    font-size: 24px;
}
#nav__left>h1>span{
    color: royalblue;
}
#nav__right{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 10px;
}
#nav__right ul,li{
    display: flex;
    height: 100%;
    width: 70%;
}
#nav__right i{
    font-size: 16px;
    padding: 10px;
}
.main-btn{
    height: 100%;
    width: 10vw;
    min-width: 150px;
    border: none;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
}
.selected{
    border-top: 5px solid royalblue;
    background-color: rgba(65, 105, 225, 0.1);
}
#theme{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100px;
    gap: 0px;
}
#theme button{
    height: 50%;
    width: 50%;
    border: none;
    border-radius: 10%;
    background-color: #dadada;
    cursor: pointer;
}
#theme i{
    font-size: 16px;
    padding: 5px;
}
#theme button.active-theme{
    color: white;
    background-color: royalblue;
}

#hero{
    width: 100%;
    min-width: 1100px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero__left{
    height: 100%;
    width: 20%;
    padding: 20px 20px 0 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#hero__mid{
    height: 100%;
    width: 55%;
    /* background-color: salmon; */
}


#top__left{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    justify-content: center;
}
#top__left>img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
#top__left>p{
    padding: 15px 40px 20px 15px;
    font-size: 15px;
    font-weight: 600;
    color: #878787;
}
#top__left>p>span{
    font-weight: 800;
    color: #2a2a2a;
}
hr{
    border-top: 2px solid #d2d2d2;
}
#bottom__left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#bottom__left h6{
    font-size: 15px;
}
#bottom__left p{
    color: #878787;
    font-weight: 500;
    font-size: 13px;
}

#hero__right{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#top_right,#bottom_right{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
}
#top_right>h2, #bottom_right>h2{
    font-weight: 700;
}
.a_card{
    height: 80%;
    width: 80%;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
}
.a_row{
    height: 30%;
    width: 100%;
}
.a_row p{
    font-size: 14px;
    font-weight: 450;
    color: #878787;
}
.a_row p span{
    font-size: 15px;
    font-weight: 700;
    color: black;
}

.b_card{
    height: 80%;
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.b_row{
    height: 31%;
    width: 100%;
    display: flex;
    border-radius: 20px;
    gap: 10px;
    background-color: white;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.profile_details{
    height: 100%;
    flex-grow: 1;
    display: flex;
    gap: 3px;
    flex-direction: column;
    padding: 7px 0;
    justify-content: flex-start;
}
.profile_img{
    height: 100%;
    aspect-ratio: 1/1;

}
.profile_img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.profile_details h5{
    font-size: 13px;
}
.profile_details p{
    font-size: 12px;
    font-weight: 500;
    color: #878787;
}